@model bwFinaleVeterinaria.Models.Owner

@{
    ViewBag.Title = "AddOwner";
}

<h2 class="text-center mt-4">Aggiungi Proprietario</h2>

@if (TempData["Success"] != null)
{
    <div class="my-5 alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["Fail"] != null)
{
    <div class="my-5 alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Fail"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex justify-content-center mt-4">

    @using (Html.BeginForm("AddOwner", "Doctor", FormMethod.Post, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group mt-1">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label mb-1" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mt-2">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label mb-1" })
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mt-2">
            @Html.LabelFor(model => model.FiscalCode, htmlAttributes: new { @class = "control-label mb-1" })
            @Html.EditorFor(model => model.FiscalCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FiscalCode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mt-3">
            <input type="submit" value="Submit" class="btn btn-primary me-2 btn-do" />
            <a href="@Url.Action("Index", "Doctor")" class="btn btn-secondary btn-dont">Torna Indietro</a>
        </div>
    }
</div>

@section styles {
    <style>
        .btn-do {
            background-color: var(--azure) !important;
            border: 0px;
            font-weight: bold;
        }

        .btn-dont {
            background-color: var(--dAzure) !important;
            border: 0px;
            font-weight: bold;
        }

        .btn-do:hover, .btn-dont:hover {
            background-color: var(--btnHoverDoctor) !important;
            color: white;
        }

        .form-group label {
            color: var(--azure) !important;
            font-weight: bold;
        }

        h2 {
            color: var(--dAzure) !important;
            font-weight: bold;
        }

        .form-control:focus {
            border-color: var(--azure) !important;
            box-shadow: 0 0 0 0.2rem var(--azure) !important;
        }
    </style>
}
