
@{
    ViewBag.Title = "Index";
}

<h2>VETERINARIO HOME</h2>


<div class="grid-container">
    <div id="div-link-owner">
        <!-- BOTTONE PER AGGIUNGERE UTENTE -->
        <a href="@Url.Action("AddOwner")"></a>
        <p>Aggiungi Proprietario</p>
    </div>

    <div id="div-link-pet">
        <!-- BOTTONE PER AGGIUNGERE ANIMALE -->
        <a href="@Url.Action("AddPet")"></a>
        <p>Aggiungi Animale</p>
    </div>

    <div id="div-link-exam">
        <!-- BOTTONE PER AGGIUNGERE VISITA -->
        <a href="@Url.Action("AddExamination")"></a>
        <p>Aggiungi Visita</p>
    </div>

    <div id="div-link-stray">
        <!-- BOTTONE PER AGGIUNGERE RANDAGIO -->
        <a href="@Url.Action("AddStray")"></a>
        <p>Aggiungi Randagio</p>
    </div>
</div>


<h3>Ricoveri Attivi</h3>
<div id="stray-pets-table">
    <!-- dynamic content -->
</div>


@section styles {
    <style>
        h2, h3 {
            color: var(--dAzure);
           
        }

        /* LINKS */
        #div-link-owner {
            grid-area: owner;
            background-color: #D27E24;
            position: relative;
        }

        #div-link-pet {
            grid-area: pet;
            background-color: #BA2D18;
            position: relative;
        }

        #div-link-exam {
            grid-area: exam;
            background-color: #275897;
            position: relative;
        }

        #div-link-stray {
            grid-area: stray;
            background-color: #DFB51D;
            position: relative;
        }

        .grid-container {
            display: grid;
            grid-template-areas:
                "exam exam owner owner owner owner"
                "exam exam owner owner owner owner"
                "exam exam pet pet stray stray";
            gap: 10px;
            margin-bottom: 30px;
        }

            .grid-container > div {
                text-align: center;
                font-size: 30px;
                font-weight: bold;
                border-radius: var(--btnBorder);
                padding: 20px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all ease-in 0.2s;
            }

            .grid-container p {
                color: white;
                margin: 0;
            }

            .grid-container a {
                position: absolute;
                z-index: 10;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .grid-container > div:hover {
                transform: rotate(-3deg);
                z-index: 200;
            }

        /* TABLES */
        #stray-pets-table table {
            width: 100%;
            border-collapse: collapse;
            border-radius: var(--btnBorder);
        }

        #stray-pets-table td, #stray-pets-table th {
            /*border: 2px solid #275897;*/
            padding: 8px;
        }

        #stray-pets-table tr:nth-child(even) {
            background-color: var(--azure)
        }

        #stray-pets-table tr:hover {
            background-color: #275897;
            color: white;
        }

        #stray-pets-table thead th:first-child {
            border-start-start-radius:10px;
        }

        #stray-pets-table thead th:last-child {
            border-start-end-radius: 10px;
        }

        #stray-pets-table tbody tr:last-child td:first-child {
            border-end-start-radius: 10px;
        }

        #stray-pets-table tbody tr:last-child td:last-child {
            border-end-end-radius: 10px;
        }

        #stray-pets-table th {
            background-color: var(--dAzure);
            color: white;
            text-transform: uppercase;
        }
    </style>
}

@section scripts {

    <script>
        fetch("@Url.Action("GetActiveAdmissions", "Api")")
            .then(res =>res.json())
            .then(strayPets => {
                console.log(strayPets)
                const strayPetsDiv = document.querySelector("#stray-pets-table")

                const tableElement = document.createElement("table")
               // tableElement.classList.add("table")

                let table = `
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Colore Mantello</th>
                            <th scope="col">Microchip</th>
                            <th scope="col">Tariffa Mensile</th>
                            <th scope="col">Data Ammissione</th>
                            <th scope="col">Rimborso Attuale (€)</th>
                        </tr>
                    </thead>
                    <tbody>
                `;
                const endOfTable = `</tbody>`;

                for (let i = 0; i < strayPets.length; i++) {
                    const details = strayPets[i];

                    const milliseconds = parseInt(details.RescueAdmission.AdmissionDate.match(/\d+/)[0], 10);
                    const dateObject = new Date(milliseconds);
                    const today = new Date();

                    const diffMonths = (today.getFullYear() - dateObject.getFullYear()) * 12 + (today.getMonth() - dateObject.getMonth())
                    const refundAmount = diffMonths * details.RescueAdmission.Price;

                    const year = dateObject.getFullYear();
                    const month = dateObject.getMonth() + 1;
                    const day = dateObject.getDate();
                    const hours = dateObject.getHours();
                    const minutes = dateObject.getMinutes();

                    const formattedDate = `${day}-${month}-${year} | ${hours}:${minutes}`;

                    const tr = `
                        <tr>
                            <td>${details.Pet.Id}</td>
                            <td>${details.Pet.Name}</td>
                            <td>${details.Pet.Type}</td>
                            <td>${details.Pet.CoatColor}</td>
                            <td>${details.Pet.Microchip}</td>
                            <td>${details.RescueAdmission.Price}</td>
                            <td>${formattedDate}</td>
                            <td>${refundAmount}</td>
                       </tr>
                            `
                    table += tr;
                }

                table += endOfTable
                tableElement.innerHTML = table;
                strayPetsDiv.appendChild(tableElement)

            }).catch(err => console.error("ERRORE", err))




    </script>
}