
@model IEnumerable<IGrouping<int, bwFinaleVeterinaria.Models.Sale>>

@{
    ViewBag.Title = "Sales Details";
}
<link rel="stylesheet" href="~/Assets/Css/PharmacyStyle.css" />

<h1 class="my-2 text-center">Ordini</h1>

<hr class="divider" />

@section styles {
    <style>
        .table-rounded {
            border-collapse: separate;
            border-spacing: 0;
            border-radius: 20px;
            overflow: hidden;
        }

            .table-rounded th,
            .table-rounded td {
                border: 1px solid var(--lGreen);
                padding: 8px;
            }
    </style>
}


@foreach (var group in Model)
{
    var ownerName = group.First().Owner.Name;
    var ownerSurname = group.First().Owner.Surname;
    var ownerCode = group.First().Owner.FiscalCode;

    <div class="mb-5">
        <h3 class="mt-4 mb-2">@ownerName @ownerSurname --- @ownerCode</h3>

        <table class="table table-bordered table-rounded">
            <thead>
                <tr>
                    <th>Nome Prodotto</th>
                    <th>Data d'Acquisto</th>
                    <th>Ricetta Del Medico</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sale in group)
                {
                    <tr>
                        <td>@sale.Product.Name</td>
                        <td>@sale.SaleDate.ToString("yyyy-MM-dd")</td>
                        <td>@sale.Examination.TreatmentDescription</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


<div class="buttonsCointainer">
    <a href="@Url.Action("ProductsList", "Pharmacist")" class="btn btn-primary my-4">Torna alla lista prodotti</a>
</div>
