﻿@model bwFinaleVeterinaria.Models.SalesViewModel

@{
    ViewBag.Title = "Pharmacist Page";
}
<link rel="stylesheet" href="~/Assets/Css/PharmacyStyle.css" />

<h2 class="text-center fs-1 mb-4">Inserisci dati ordine</h2>

@if (TempData["Success"] != null)
{
    <div class="my-5 alert alert-success alert-dismissible fade show text-center" role="alert">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["Fail"] != null)
{
    <div class="my-5 alert alert-danger alert-dismissible fade show text-center" role="alert">
        @TempData["Fail"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex justify-content-center">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="formsContainerReduced">
            <div class="form-group mb-3">
                @Html.LabelFor(model => model.ProductId, "Inserisci il Prodotto:")
                @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.Products, "Id", "Name"), "---", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.OwnerId, "Inserisci il Proprietario:")
                @Html.DropDownListFor(model => model.OwnerId, new SelectList(Model.Owners, "Id", "FiscalCode"), "---", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OwnerId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.ExaminationId, "Inserisci la ricetta del Dottore:")
                @Html.DropDownListFor(model => model.ExaminationId, new SelectList(Model.Examinations, "Id", "TreatmentDescription"), "---", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExaminationId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(model => model.SaleDate, "Inserisci la data")
                @Html.TextBoxFor(model => model.SaleDate, new { @class = "form-control", @type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.SaleDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="buttonsCointainer">
            <button type="submit" class="btn btn-primary my-2">Aggiungi</button>

            <br />

            <a href="@Url.Action("ProductsList", "Pharmacist")" class="btn btn-primary mt-3">Torna alla Lista Prodotti</a>
        </div>
    }

</div>