@{
    ViewBag.Title = "Search";
}
<link rel="stylesheet" href="~/Assets/Css/PharmacyStyle.css" />

<div class="buttonsCointainer">
    <button type="button" class="btn btn-primary" onclick="showProductSearch()">Cerca per Prodotto</button>
    <button type="button" class="btn btn-primary" onclick="showFiscalCodeSearch()">Cerca per Codice Fiscale</button>
    <button type="button" class="btn btn-primary" onclick="showDateSearch()">Cerca per Data</button>
</div>

<div id="productSearchContainer" style="display: none;">
    @using (Html.BeginForm("SearchProduct", "Pharmacist", FormMethod.Post, new { id = "productSearchForm" }))
    {
        <div class="form-group">
            @Html.Label("Nome Prodotto:")
            @Html.TextBox("productName", null, new { @class = "form-control", id = "productName" })
        </div>
        <div class="buttonsCointainer">
            <button type="submit" class="btn btn-primary my-3">Cerca</button>
        </div>
    }
</div>

<div id="fiscalCodeSearchContainer" style="display: none;">
    @using (Html.BeginForm("SearchByFiscalCode", "Pharmacist", FormMethod.Post, new { id = "fiscalCodeSearchForm" }))
    {
        <div class="form-group">
            @Html.Label("Codice Fiscale:")
            @Html.TextBox("fiscalCode", null, new { @class = "form-control", id = "fiscalCode" })
        </div>
        <div class="buttonsCointainer">
            <button type="submit" class="btn btn-primary my-3">Cerca</button>
        </div>
    }
</div>

<div id="dateSearchContainer" style="display: none;">
    @using (Html.BeginForm("SearchByDate", "Pharmacist", FormMethod.Post, new { id = "dateSearchForm" }))
    {
        <div class="form-group">
            @Html.Label("Data di Acquisto:")
            @Html.TextBox("saleDate", null, new { @class = "form-control", id = "saleDate", type = "date" })
        </div>

        <div class="buttonsCointainer">
            <button type="submit" class="btn btn-primary my-3">Cerca</button>
        </div>
    }
</div>

<div id="searchResultsContainer">
</div>

<div class="buttonsCointainer">
    <a href="@Url.Action("ProductsList", "Pharmacist")" class="btn btn-primary my-4">Torna alla lista prodotti</a>
</div>

@section scripts {
    <script>
        function showProductSearch() {
    hideSearchResults();
    $('#searchResultsContainer').empty();
    $('#productSearchContainer').show();
    $('#fiscalCodeSearchContainer').hide();
    $('#dateSearchContainer').hide();
}

function showFiscalCodeSearch() {
    hideSearchResults();
    $('#searchResultsContainer').empty();
    $('#productSearchContainer').hide();
    $('#fiscalCodeSearchContainer').show();
    $('#dateSearchContainer').hide();
}

function showDateSearch() {
    hideSearchResults();
    $('#searchResultsContainer').empty();
    $('#productSearchContainer').hide();
    $('#fiscalCodeSearchContainer').hide();
    $('#dateSearchContainer').show();
}
    function hideSearchResults() {
    $('#searchResultsContainer').empty();
}
        $(document).ready(function () {
            showProductSearch();

            $('#productSearchForm').submit(function (e) {
                e.preventDefault();
                var productName = $('#productName').val();
                $.ajax({
                    url: '@Url.Action("SearchProduct", "Api")',
                    type: 'POST',
                    data: { productName: productName },
                    success: function (result) {
                        $('#searchResultsContainer').html(result);
                    },
                    error: function () {
                        alert('Error during product search.');
                    }
                });
            });

            $('#fiscalCodeSearchForm').submit(function (e) {
                e.preventDefault();
                var fiscalCode = $('#fiscalCode').val();
                $.ajax({
                    url: '@Url.Action("SearchByFiscalCode", "Api")',
                    type: 'POST',
                    data: { fiscalCode: fiscalCode },
                    success: function (result) {
                        $('#searchResultsContainer').html(result);
                    },
                    error: function () {
                        alert('Error during fiscal code search.');
                    }
                });
            });

            $('#dateSearchForm').submit(function (e) {
                e.preventDefault();
                var saleDate = $('#saleDate').val();
                $.ajax({
                    url: '@Url.Action("SearchByDate", "Api")',
                    type: 'POST',
                    data: { saleDate: saleDate },
                    success: function (result) {
                        $('#searchResultsContainer').html(result);
                    },
                    error: function () {
                        alert('Error during date search.');
                    }
                });
            });
        });
    </script>
}
