@{
    ViewBag.Title = "Search";
}
<link rel="stylesheet" href="~/Assets/Css/PharmacyStyle.css" />

<div class="buttonsCointainer">
    <button type="button" class="btn btn-primary" onclick="showProductSearch()">Search by Product</button>
    <button type="button" class="btn btn-primary" onclick="showFiscalCodeSearch()">Search by Fiscal Code</button>
    <button type="button" class="btn btn-primary" onclick="showDateSearch()">Search by Date</button>
</div>

<div id="productSearchContainer" style="display: none;">
    @using (Html.BeginForm("SearchProduct", "Pharmacist", FormMethod.Post, new { id = "productSearchForm" }))
    {
        <div class="form-group">
            @Html.Label("Search Product name:")
            @Html.TextBox("productName", null, new { @class = "form-control", id = "productName" })
        </div>
        <div class="buttonsCointainer">
            <button type="submit" class="btn btn-primary my-3">Search</button>
        </div>
    }
</div>

<div id="fiscalCodeSearchContainer" style="display: none;">
    @using (Html.BeginForm("SearchByFiscalCode", "Pharmacist", FormMethod.Post, new { id = "fiscalCodeSearchForm" }))
    {
        <div class="form-group">
            @Html.Label("Fiscal Code:")
            @Html.TextBox("fiscalCode", null, new { @class = "form-control", id = "fiscalCode" })
        </div>
        <div class="buttonsCointainer">
            <button type="submit" class="btn btn-primary my-3">Search</button>
        </div>
    }
</div>

<div id="dateSearchContainer" style="display: none;">
    @using (Html.BeginForm("SearchByDate", "Pharmacist", FormMethod.Post, new { id = "dateSearchForm" }))
    {
        <div class="form-group">
            @Html.Label("Sale Date:")
            @Html.TextBox("saleDate", null, new { @class = "form-control", id = "saleDate", type = "date" })
        </div>

        <div class="buttonsCointainer">
            <button type="submit" class="btn btn-primary my-3">Search</button>
        </div>
    }
</div>

<div id="searchResultsContainer">
    <!-- Search results will be displayed here -->
</div>

<div class="buttonsCointainer">
    <a href="@Url.Action("ProductsList", "Pharmacist")" class="btn btn-primary my-4">Torna alla lista prodotti</a>
</div>

@section scripts {
    <script>
        function showProductSearch() {
            $('#productSearchContainer').show();
            $('#fiscalCodeSearchContainer').hide();
            $('#dateSearchContainer').hide();
        }

        function showFiscalCodeSearch() {
            $('#productSearchContainer').hide();
            $('#fiscalCodeSearchContainer').show();
            $('#dateSearchContainer').hide();
        }

        function showDateSearch() {
            $('#productSearchContainer').hide();
            $('#fiscalCodeSearchContainer').hide();
            $('#dateSearchContainer').show();
        }

        $(document).ready(function () {
            showProductSearch(); // Mostra automaticamente la ricerca per prodotto quando la pagina viene caricata

            $('#productSearchForm').submit(function (e) {
                e.preventDefault();
                var productName = $('#productName').val();
                $.ajax({
                    url: '@Url.Action("SearchProduct", "Api")',
                    type: 'POST',
                    data: { productName: productName },
                    success: function (result) {
                        $('#searchResultsContainer').html(result);
                    },
                    error: function () {
                        alert('Error during product search.');
                    }
                });
            });

            $('#fiscalCodeSearchForm').submit(function (e) {
                e.preventDefault();
                var fiscalCode = $('#fiscalCode').val();
                $.ajax({
                    url: '@Url.Action("SearchByFiscalCode", "Api")',
                    type: 'POST',
                    data: { fiscalCode: fiscalCode },
                    success: function (result) {
                        $('#searchResultsContainer').html(result);
                    },
                    error: function () {
                        alert('Error during fiscal code search.');
                    }
                });
            });

            $('#dateSearchForm').submit(function (e) {
                e.preventDefault();
                var saleDate = $('#saleDate').val();
                $.ajax({
                    url: '@Url.Action("SearchByDate", "Api")',
                    type: 'POST',
                    data: { saleDate: saleDate },
                    success: function (result) {
                        $('#searchResultsContainer').html(result);
                    },
                    error: function () {
                        alert('Error during date search.');
                    }
                });
            });
        });
    </script>


}
